@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gruppo', cursive;
    font-size: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 2rem;
}

.game{
    position: relative;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
}

button{
    cursor: pointer;
    background-color: #000;
    border : none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: background-color .1s ease-in;
}

.rules{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6198d8;
    color: #fff;
    width: 400px;
    height: 400px;
    padding: 20px;
    line-height: 1.5;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in, visibility .3s ease-in;
    z-index: 99;
}

.rules.show{
    visibility: visible;
    opacity: 1;
    display: flex;
}

.rules p{
    margin-bottom: 1rem;
    margin-top: 0;
}

button:hover {
    background-color: #376599;
}
button:focus {
    outline: none;
}
button:active {
    transform: scale(.98);
}

#rules-btn{
    position: absolute;
    left: 600px;
    top: 700px;
    z-index: 99;
}
#raz-btn{
    position: absolute;
    right:600px;
    top: 700px;
    z-index: 99;
}

.sound-container{
    /*display: none;*/
    position: absolute;
    top: 44%;
    right: 30%;
}

.sound-container #sound {
    width: 80px;
    height: auto;
    transition:  .1s ease-in-out;
    border-radius: 50%;
}

#sound:hover {
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .5);
}

/*#game-over{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: #6198d8;
    color: #fff;
    width: 400px;
    height: 400px;
    padding: 20px;
    line-height: 1.5;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}*/

#you-lose {
    width: 160px;
    margin-bottom: 100px;
}

#restart {
    color: #fff;
    cursor: pointer;
    padding: 4px 8px;
    line-height: 1.5;
    border: 1px solid #6498d8;
    border-radius: 4px;
    text-align: center;
    transition: .1s ease-in-out;
}

#restart:hover{
    border: 1px solid #6498d8;
}


#canvas1{
    border: none;
    /*box-shadow: 0 1px 2px 4px black;*/
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #464646;
    background-image: url('./img/depose_colis.png');
}

.notdisplay{
    display : none;
}

#contain-score{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center; 
    width: 80%;
    margin: 10px 0;
}

#contain-score div{
    width: 32%;
}

#contain-score div{
    text-align: center;
}

#contain-score .le-score{
    text-align: right;
    padding-right: 40px;
}


.ecran-start{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6198d8;
    color: #fff;
    width: 400px;
    height: 400px;
    padding: 10px 20px;
    line-height: 1.5;
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease-in, visibility .3s ease-in;
    z-index: 99;
}

.ecran-start.invisible{
    visibility: hidden;
    opacity: 0;
    display: none;
}

.ecran-start h2{
    color: black;
    font-size: 2rem;
    margin: 0;
}

.ecran-start label{
    display: inline-block;
}
.ecran-start input{
    margin: 20px auto;
    display: inline-block;
}
